/*All devices and mobile phone*/

* {
  font-family: 'Gotham Rounded';
}

body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex:1 0 auto;
}

header {
  margin: 0;
  padding: 0;

}
nav {
    background-color: #1f1f1f;
    color: #fffefb;
    padding: 0;
    margin: 0;


}

nav img {
  height: 2em;
  padding: 0;
  margin: 0;


}

.left {
    margin-right:auto;
}

nav ul {
  padding: 0;
  display:-webkit-flex;
  display:flex;
  justify-content:flex-end;
  align-items: center;
  margin: 0;
}
nav li {
  list-style: none;
  margin: 0;
  padding: 0.5em;

}

.nav a {
  text-decoration: none;
  color: #fffefb;
}

.image-slider{
	width: 100vw;
	height: 37.43vw;
	position: relative;
}

.image-slider img{
	width: 100%;
	position: absolute;
	z-index: 0;
}
.image-slider img.current{
	width: 100%;
	position: absolute;
	z-index: 50;
}
.fa{
	color: rgba(255,255,255,0.5);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
/*	line-height: 37.43vw;*/ /*Line-height possible alternative to top and transform*/
	z-index: 100;
}
.fa-arrow-circle-left{
	left:.3em;
}
.fa-arrow-circle-right{
	right:.3em;
}

.services {
    text-align: center
  }


.icons {
  display:-webkit-flex;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.icon {
  flex: 1 0 21%;
  text-align: center;
  padding: 1em 0 0 0;
}

.icon h1 {
  font-size: 100%;
}


article {
  background-color:  #ffa200;
  color: #fffefb;
  margin: 0;
}

article h2 {
  background: #1f1f1f;
  margin: 0;
}

article p {
  margin: 0;
}

.blog {
  background-color:  #5834ae;
}

.blog h2 {
    margin: 0;
  }

.getintouch {
  background-image: url("../images/contact.jpg");
  text-align: center;
}
  #contact {
  	width: 60%;
    color: #fffefb;
    margin: auto;
  }

  #contact h1 {
    margin: 0;
  }

  #contact input, #contact textarea {

  	font-family: Helvetica, sans-serif;
  	font-size: 1.4em;
  	border: 2px solid #ccc;
  }

  #contact textarea {
  }

  #contact textarea:focus, #contact input:focus {
  	border: 2px solid #900;
  }

  #contact input.submit-button {
  	width: 6em;
  }

  label {
  	margin-right: 15px;
  	width: 100px;
  	padding-top: 5px;
  	font-size: 1.4em;
  }

footer {
  background-color: #1f1f1f;
  color: #fffefb;
  padding: 0;
  margin: 0;

}

/*for tablet - inclusive*/
@media only screen and (min-width : 44em) {



nav {
  position: relative;
}

nav img {
  position: absolute;
}

.icons {
  flex-flow: row wrap;
}

.content {
  display:-webkit-flex;
  display:flex;
  flex-flow: wrap;
}

article {
   flex: 1 0 40%;
}

}

/*for desktop - inclusive*/
@media only screen and (min-width : 64em) {

}
